@model CricketData.Models.ViewModels.CustomersViewModel
@using CricketData.Models.ViewModels
@{
    Layout = null;
    CricketData.Models.ViewModels.CustomerViewModel loggedInUser = ViewBag.Customer;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customers</title>

    
    <style>
        body {
            background-color: steelblue;
        }

        h2 {
            font-family: Arial;
            font-size: 150%;
            text-align: center;
        }
    </style>



   
</head>
<body>
    
    <div>
        <div>
    
            @if (loggedInUser != null)
            {
                
                <p>First Name: @loggedInUser.FirstName</p>
                <p>Last Name: @loggedInUser.LastName</p>
                <p>PasswordHash: @loggedInUser.PasswordHash</p>
                <p>Salt: @loggedInUser.Salt</p>
            }

        </div>
        @foreach (CustomerViewModel customerViewModel in Model.CustomerViewModels)
        {
            
            <p>
                @customerViewModel.FirstName @customerViewModel.LastName @customerViewModel.Email @customerViewModel.PasswordHash @customerViewModel.Salt
            </p>
    
        }
    </div>
    <h2>
    @Html.ActionLink("Home", "Countries", "Home")
</h2>
</body>
</html>